<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>


    <link href="~/Content/app.css" rel="stylesheet" />
    @Styles.Render("~/bundles/boot")
    @Styles.Render("~/bundles/other")
    <script src="http://crypto-js.googlecode.com/svn/tags/3.0.2/build/rollups/md5.js"></script>
    <script type="text/javascript" src="~/Scripts/Utils/ext/crypto/_referenceCrypto.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")

    @Scripts.Render("~/bundles/dependent")
    @Scripts.Render("~/bundles/modernizr")
    

    @Scripts.Render("~/bundles/noauth_js")
    @Scripts.Render("~/bundles/crypto")

    
</head>
<body>
    @Html.Hidden("LoginUrl", Url.Action("Login", "Account"))
    @Html.Hidden("RegisterUrl", Url.Action("Register", "Account"))
    <div class="container-full">
        @RenderBody()
    </div>
</body>
</html>
