<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,700,300' rel='stylesheet' type='text/css' />
    <title>@ViewBag.Title</title>


    @Styles.Render("~/bundles/boot")
    @Styles.Render("~/bundles/other")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")

    @Scripts.Render("~/bundles/dependent")
    @Scripts.Render("~/bundles/common_js")
    @Scripts.Render("~/bundles/auth_js")
    @Scripts.Render("~/bundles/crypto")

    <script type="text/javascript">
        $.ajaxSetup({ cache: false });
         </script>
</head>
<body>
    @Html.Hidden("LoginUrl", Url.Action("Login", "Account"))
    @Html.Hidden("LogOutUrl", Url.Action("Logout", "Account"))


    @Html.Hidden("DashboardUrl", Url.Action("MyDashboard", "Home"))

    @Html.Hidden("MyProfileUrl", Url.Action("MyProfile", "Home"))
    
    @Html.Hidden("MyCompanyUrl", Url.Action("MyCompany", "Home"))
    
    @Html.Hidden("MyAccountUrl", Url.Action("MyAccount", "Home"))



    @Html.Hidden("InsertUpdateCompanyUrl", Url.Action("AddCompany", "Home"))



    <header class="fixed content header">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navigation">


            <ul class="nav nav-pills" >
                <li role="presentation" id="dashboard-tab" data-bind="css: {active: IsDashboardSelected() == true }" ><a href="#/dashboard">Home</a></li>
                <li role="presentation" id="profile-tab" data-bind="css: { active: IsProfileSelected() == true }"><a href="#/profile">Profile</a></li>
                <li role="presentation" id="account-tab" data-bind="css: { active: IAccountSelected() == true }"><a href="#/account">Account</a></li>
                <li role="presentation" id="company-tab" data-bind="css: { active: IsCompanySelected() == true }"><a href="#/company">Company</a></li>
                <li role="presentation" id="logout-tab" ><a href="#">Logout</a></li>
            </ul>
            <div class="clear"></div>
        </nav>
        <div class="clear"></div>

    </header>

    <div id="body-wrapper" class="content content-top-margin relative">
        @RenderBody()
    </div>

    <div id="overlay" style="top: 0px; width: 1680px; height: 925px;">
        <img src="/Images/loading.gif" id="img-load" alt="loading">
    </div>
    <div class="clear"></div>

    

 

   



    <script src="@Url.Content("~/Scripts/Utils/entities.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/Utils/nav-model.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/Utils/utils.js")" type="text/javascript"> </script>

    <script src="@Url.Content("~/Scripts/Utils/fact-app-module.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/Home/dashboard-module.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Home/profile-module.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Utils/fact-app-navigation.js")" type="text/javascript"> </script>
</body>
</html>
